@using Volo.Abp.AspNetCore.Components.Web.Theming.Routing
@using Microsoft.Extensions.Options
@using DoganConsult.Web.Blazor.Components.Layout
@inject IOptions<AbpRouterOptions> RouterOptions
<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="RouterOptions.Value.AdditionalAssemblies">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(PlatformLayout)">
            <NotAuthorized>
                <p>You are not authorized to access this page.</p>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
</Router>
